.info-wrapper {
    /*background: #E5E5E5;*/
    padding-top: 50px;
}

.info {

}

.info-block {
    display: flex;
    align-items: center;


}

.info-section-left {

}

.info__heading {

}

.info__text {

}

.info__button {

    display: inline-block;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 12px 32px;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 29px;
}

.info-section-right {


}

.image-block {

}

.info-section-left {

}

.image-block {

}

.info-section-right {

}

.info-section-right__heading {

}

.info-section-right__text {
    padding-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #30444E;
}

.color-text__in-paragraph {
    color: #EE4248;
}
