@import "fonts.css";
@import "reset.css";
@import "navbar.css";
@import "index.css";
@import "info.css";



.page_wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.container {
    max-width: 1125px;
    margin: 0 auto;
}