.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 19px;
    line-height: 21px;
}

.navbar-wrapper {
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.navbar-centre {

}

.navbar-centre_menu {
    display: flex;
    align-items: center;
}

a {
    color: rgba(31, 46, 53, 0.8);
}

.navbar-centre_menu__item {
    margin-right: 50px;
}

.navbar-left {

}

.navbar-left__logo {

}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right-social-link {

}

.navbar-right-social-link__img {
    margin-right: 24px;
}